<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="alert alert-warning alert-dismissible fade show" sec:authorize="isAuthenticated()"  th:if="${!account.isEmailVerified()}" role="alert">
        <strong>필수! </strong>
        <a th:href="@{'/check-email/' + ${account.email}}">이메일 인증을 진행해주세요!</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<div class="container">
    <div class="py-5 text-center">
        <h2>홈</h2>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript">
    (() => {
        console.log("init");
    })();
</script>
</body>
</html>